
* {
  --main-color: rgb(0, 47, 90);
  --main-coler-light: rgb(38, 53, 92);
  --accent-color: rgb(255, 255, 255);
  --wrong-answer: rgb(225, 163, 164);
  --wrong-answer-letter: rgb(248, 31, 22);
}

h4 {
  padding: 8px 16px 4px 16px !important;
}
body {
  background-color: var(--main-color);
}
.navbar {
  background-color: var(--accent-color);
}

.quiz-card-container {
  margin-top: 50px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-card {
  width: 1000px;
  min-width: 320px;
  height: 550px !important;
  flex-flow: row;
  border-radius: 0.5rem;
  border: none;
}


.quiz-topics-container {
  width: 200px;

  display: flex; 
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  gap: 48px;
  background-color: var(--main-coler-light);
  color: white;
  padding: 32px 0px;
}
.quiz-topics-container.visible {
  opacity: 1;
}

.quiz-topics {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  gap: 8px;
}
.quiz-topics div{
  background-color: rgba(255, 255, 255, 0.1);
}

.quiz-topics .current-quiz-topic {
  background-color: rgba(255, 255, 255, 0.4);
}
.start-menu-body .quiz-topics div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}
.start-menu-body {
  background-color: var(--main-coler-light);
  color: white;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
#welcome-text p{
  font-size: 1.2rem;
}

.start-menu-body,
.endcard-body {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px 0px;
  text-align: center;
  position: relative;
}
.card-body {
  position: relative;
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.card-body.visible {
  display: flex;
  opacity: 1;
}
.endcard-body{
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.endcard-body.visible{
  opacity: 1;
}
.endcard-body img {
  width: 128px;
}
.tropy-img {
  position: absolute;
  right: 0;
  width: 50px;
  filter: opacity(90%);
}
.replay-btns {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}
/* Ende */
.progress-bar {
   background-color:rgb(97, 114, 163) !important; 
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0.5rem 0 0;
  background-color:rgba(117, 137, 187, 0.2);
}
.question-container{
  background-color:rgba(117, 137, 187, 0.2);
  margin: auto 0;

  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
}
#questions {
  margin: 2rem 1rem 0rem;
}
.answer-container {
  margin: 40px 0;
}
.answer-card-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
}
.answer-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.answer-letter-box {
  background-color: rgba(161, 162, 172, 0.26);
  padding: 8px 16px;
  border-radius: 4px;
}

.answer-card-container:hover:not([disabled]) {
  background-color: rgb(215, 216, 228);
}
.answer:disabled {
  cursor: no-drop;
}

.bg-success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: not-allowed;
  padding-right: 8px;
}

.bg-danger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: not-allowed;
  padding-right: 8px;
}
.question-footer {
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  margin: 8px;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  animation-name: none !important;
}

@media (max-width: 700px) {
  .tropy-img {
    filter: opacity(10%);
  }
  .quiz-topics-container,
  .quiz-topics {
    width: 150px;
  }
}

@media (max-width: 400px) {
  /*  */
  .quiz-card {
    width: 100%;
    height: 100%;
  }
  .quiz-card-container {
    width: 100%;
    margin-top: 48px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quiz-topics-container,
  .quiz-topics {
    width: 100px;
  }
  .quiz-topics-container img {
    width: 80%;
  }
}
